<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <link rel="icon" href="icon.ico">
    <title>BIGBOX</title>
  </head>
  <body>
    <div class="grid-container">
      <header class="row">
        <div>
          <a class="brand" href="index.html">BIGBOX</a>
        </div>
        <div>
            <a href="cart.html">Trac order</a>
          <a href="cart.html">Cart</a>
          <a href="signin.html">Sign In</a>
        </div>
      </header>
      <main>
        <div>
          <div class="row center">
            <div class="card">
              <a href="product.html">
                <!-- image size: 680px by 830px -->
                <img class="medium" src="img/1.jpeg" alt="product" />
              </a>
              <div class="card-body">
                <a href="product.html">
                  <h2>Nike Slim T-Shirts</h2>
                </a>
                <div class="rating">
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                </div>
                <div class="price">BDT-750</div>
              </div>
            </div>
            <div class="card">
              <a href="product.html">
                <!-- image size: 680px by 830px -->
                <img class="medium" src="img/2.jpeg" alt="product" />
              </a>
              <div class="card-body">
                <a href="product.html">
                  <h2>Yamaha R15 V3</h2>
                </a>
                <div class="rating">
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                </div>
                <div class="price">BDT-520000</div>
              </div>
            </div>
            <div class="card">
              <a href="product.html">
                <!-- image size: 680px by 830px -->
                <img class="medium" src="img/3.jpeg" alt="product" />
              </a>
              <div class="card-body">
                <a href="product.html">
                  <h2>MI Remi Note 8</h2>
                </a>
                <div class="rating">
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                </div>
                <div class="price">BDT-16500</div>
              </div>
            </div>
            <div class="card">
              <a href="product.html">
                <!-- image size: 680px by 830px -->
                <img class="medium" src="img/4.jpeg" alt="product" />
              </a>
              <div class="card-body">
                <a href="product.html">
                  <h2>Edifier Headphone</h2>
                </a>
                <div class="rating">
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                </div>
                <div class="price">BDT-990</div>
              </div>
            </div>
            <div class="card">
              <a href="product.html">
                <!-- image size: 680px by 830px -->
                <img class="medium" src="img/5.jpeg" alt="product" />
              </a>
              <div class="card-body">
                <a href="product.html">
                  <h2>One Plus 7 pro</h2>
                </a>
                <div class="rating">
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                </div>
                <div class="price">BDT-45200</div>
              </div>
            </div>
            <div class="card">
              <a href="product.html">
                <!-- image size: 680px by 830px -->
                <img class="medium" src="img/6.jpeg" alt="product" />
              </a>
              <div class="card-body">
                <a href="product.html">
                  <h2>Ipad M1 chip</h2>
                </a>
                <div class="rating">
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star-half-o"></i> </span>
                </div>
                <div class="price">BDT-110000</div>
              </div>
            </div>
            <div class="card">
                <a href="product.html">
                  <!-- image size: 680px by 830px -->
                  <img class="medium" src="img/7.jpeg" alt="product" />
                </a>
                <div class="card-body">
                  <a href="product.html">
                    <h2>Super Bed</h2>
                  </a>
                  <div class="rating">
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                  </div>
                  <div class="price">BDT-15500</div>
                </div>
              </div>
              <div class="card">
                <a href="product.html">
                  <!-- image size: 680px by 830px -->
                  <img class="medium" src="img/8.jpeg" alt="product" />
                </a>
                <div class="card-body">
                  <a href="product.html">
                    <h2>Royal Enfield</h2>
                  </a>
                  <div class="rating">
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                  </div>
                  <div class="price">BDT-860000</div>
                </div>
              </div>
              <div class="card">
                <a href="product.html">
                  <!-- image size: 680px by 830px -->
                  <img class="medium" src="img/9.jpeg" alt="product" />
                </a>
                <div class="card-body">
                  <a href="product.html">
                    <h2>samsung LED TV 34"</h2>
                  </a>
                  <div class="rating">
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                  </div>
                  <div class="price">BDT-34000</div>
                </div>
              </div>
              <div class="card">
                <a href="product.html">
                  <!-- image size: 680px by 830px -->
                  <img class="medium" src="img/10.jpg" alt="product" />
                </a>
                <div class="card-body">
                  <a href="product.html">
                    <h2>Iphone SE-2020</h2>
                  </a>
                  <div class="rating">
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                  </div>
                  <div class="price">BDT-54000</div>
                </div>
              </div>
              <div class="card">
                <a href="product.html">
                  <!-- image size: 680px by 830px -->
                  <img class="medium" src="img/11.png" alt="product" />
                </a>
                <div class="card-body">
                  <a href="product.html">
                    <h2>Pulser 150CC Double Disk</h2>
                  </a>
                  <div class="rating">
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                  </div>
                  <div class="price">BDT-179900</div>
                </div>
              </div>
              <div class="card">
                <a href="product.html">
                  <!-- image size: 680px by 830px -->
                  <img class="medium" src="img/12.jpeg" alt="product" />
                </a>
                <div class="card-body">
                  <a href="product.html">
                    <h2>Iphone 12 Pro max 256gb</h2>
                  </a>
                  <div class="rating">
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                  </div>
                  <div class="price">BDT-117500</div>
                </div>
              </div>
              <div class="card">
                <a href="product.html">
                  <!-- image size: 680px by 830px -->
                  <img class="medium" src="img/13.jpg" alt="product" />
                </a>
                <div class="card-body">
                  <a href="product.html">
                    <h2>MAC BOOK Pro M1 chip</h2>
                  </a>
                  <div class="rating">
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                  </div>
                  <div class="price">BDT-142000</div>
                </div>
              </div>
              <div class="card">
                <a href="product.html">
                  <!-- image size: 680px by 830px -->
                  <img class="medium" src="img/14.jpeg" alt="product" />
                </a>
                <div class="card-body">
                  <a href="product.html">
                    <h2>Royal Enfield Special</h2>
                  </a>
                  <div class="rating">
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                  </div>
                  <div class="price">BDT-890000</div>
                </div>
              </div>
              <div class="card">
                <a href="product.html">
                  <!-- image size: 680px by 830px -->
                  <img class="medium" src="img/15.jpeg" alt="product" />
                </a>
                <div class="card-body">
                  <a href="product.html">
                    <h2>Hitachi Double Door Fridge</h2>
                  </a>
                  <div class="rating">
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                  </div>
                  <div class="price">BDT-80200</div>
                </div>
              </div>
              <div class="card">
                <a href="product.html">
                  <!-- image size: 680px by 830px -->
                  <img class="medium" src="img/16.jpeg" alt="product" />
                </a>
                <div class="card-body">
                  <a href="product.html">
                    <h2>Soyabin Oil</h2>
                  </a>
                  <div class="rating">
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                  </div>
                  <div class="price">BDT-550</div>
                </div>
              </div>
              <div class="card">
                <a href="product.html">
                  <!-- image size: 680px by 830px -->
                  <img class="medium" src="img/17.jpeg" alt="product" />
                </a>
                <div class="card-body">
                  <a href="product.html">
                    <h2>Nike Slim Shirts</h2>
                  </a>
                  <div class="rating">
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                  </div>
                  <div class="price">BDT-1200</div>
                </div>
              </div>
              <div class="card">
                <a href="product.html">
                  <!-- image size: 680px by 830px -->
                  <img class="medium" src="img/18.jpeg" alt="product" />
                </a>
                <div class="card-body">
                  <a href="product.html">
                    <h2>Nike Slim Pant</h2>
                  </a>
                  <div class="rating">
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                  </div>
                  <div class="price">BDT-820</div>
                </div>
              </div>
              <div class="card">
                <a href="product.html">
                  <!-- image size: 680px by 830px -->
                  <img class="medium" src="img/19.jpg" alt="product" />
                </a>
                <div class="card-body">
                  <a href="product.html">
                    <h2>Anker Blutooh Speaker</h2>
                  </a>
                  <div class="rating">
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                  </div>
                  <div class="price">BDT-1350</div>
                </div>
              </div>
              <div class="card">
                <a href="product.html">
                  <!-- image size: 680px by 830px -->
                  <img class="medium" src="img/20.jpg" alt="product" />
                </a>
                <div class="card-body">
                  <a href="product.html">
                    <h2>Samsung Tab</h2>
                  </a>
                  <div class="rating">
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                  </div>
                  <div class="price">BDT-22000</div>
                </div>
              </div>
              <div class="card">
                <a href="product.html">
                  <!-- image size: 680px by 830px -->
                  <img class="medium" src="img/21.jpeg" alt="product" />
                </a>
                <div class="card-body">
                  <a href="product.html">
                    <h2>Men Slim Panjabee</h2>
                  </a>
                  <div class="rating">
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                  </div>
                  <div class="price">BDT-1120</div>
                </div>
              </div>
              
          </div>
        </div>
      </main>
      <footer class="row center"> &copy-2021 All right reserved by yousuf</footer>
    </div>
  </body>
</html>
